DATABASE_URL=postgresql://postgres:postgres@localhost:5432/db_name
KEYCLOAK_URL=http://localhost:8080
REALM_NAME=realm_name
CLIENT_ID=client_id
CLIENT_SECRET=client_secret
GEOSERVER_USER=user
GEOSERVER_PASSWORD=password
GEOSERVER_URL=geoserver_url
MAX_WORKERS=4
MAX_SYNC_DAYS=7